
@import "settings";
@import "foundation";
@import "utils";
@import "foundation-icons";

@import "components/exerciseDeckRunner";
@import "components/musikataExerciseDeckRunner";
@import "components/progressBar";
@import "components/healthBar";
@import "components/feelTheBeat";

#topBar{
  @include box-shadow(0 2px 2px #ccc);
}

html, body{
  height: 100%;
}

body {
  background-color: white;
  background: url('../img/leftBranch.png'), url('../img/rightBranch.png'), url("../img/mountains.jpg");
  background-size: auto, auto, 100% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 180px, right 50px, center top;
  position: relative;
}

#logo{
  height: 35px;
  width: 200px;
  background-image: url('../img.test/logo.png');
  background-position: left top;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

#app{
  color: #333;
  min-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  @include round-top-corners(8px);
  @include round-bottom-corners(8px);
  @include box-shadow(0 2px 2px rgba(0,0,0,.5));

  .app-body, .app-header, .app-footer{
    border: thin solid #bbb;
    padding: .5em;
  }

  .app-header {
    @include clearfix;
    @include box-shadow(0 2px 3px rgba(0,0,0, .06));
    @include round-top-corners(8px);
    @include linear-gradient(#F5F2EF, #EEEAE7);
  }

  .app-body {
    @include clearfix;
    background: white;
    border-top: none;
    border-bottom: none;
    min-height: 255px;
  }

  .app-footer{
    @include clearfix;
    padding: .5em;
    @include box-shadow(0 -2px 3px rgba(0,0,0,.06));
    @include round-bottom-corners(8px);
    @include linear-gradient(#F5F2EF, #EEEAE7);
  }
}

@media #{$small-only} {
  #app{
    width: 100%;
  }

  .gutter-wrapper{
    display: none;
  }
}

@media #{$medium-up} {
  #app {
    width: 40em;
    margin-top: 1em;
  }
}
