@import "settings";
@import "foundation";
@import "utils";
@import "foundation-icons";

@import "appNoFlex";

@import "components/sensei";
@import "components/topBar";
@import "components/appFrame";
@import "components/exerciseDeckRunner";
@import "components/musikataExerciseDeckRunner";
@import "components/progressBar";
@import "components/healthBar";
@import "components/feelTheBeat";
@import "components/path";
@import "components/exercisePath";

html, body{
  height: 100%;
}

body {
  background-color: white;
  position: relative;
}

#main{
  margin-top: rem-calc(25);
  margin-bottom: rem-calc(25);
  background: url('../img/leftBranch.png'), url('../img/rightBranch.png'), url("../img/mountains.jpg");
  background-size: auto, auto, 100% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 180px, right 50px, center top;
  background-attachment: fixed, fixed, fixed;
}

#content {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}

body{
  @media #{$portrait}{
    min-height: rem-calc(480);
    min-width: rem-calc(320);
  }

  @media #{$landscape} {
    min-height: rem-calc(320);
    min-width: rem-calc(480);
  }
}

#content {
  @media #{$small-only} {
    min-height: 100%;
    max-width: 100%;
  }

  @media #{$medium-up} {
    max-width: lower-bound($medium-range);
  }
}

// Styling to fit body to screen.
body.fit-screen {
  position: relative;

  #main {
    margin: 0;
    position: absolute;
    top: $topbar-height;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    &:before, &:after {
      content: "";
      flex: 1 1 0;
    }
    &:before {
      max-height: 1em;
    }
    &:after {
      max-height: 2%;
    }
  }

  #content {
    flex: 1 1 auto;
    align-self: center;
    height: auto;
  }

}

