@import "settings";
@import "foundation";

html, body{
  height: 100%;
}

body {
  background: rgba(128, 0, 128, .25);
  position: relative;
}

$mainMaxWidth: 40em;

#main{
  background: rgba(64,64,0,.25);
  min-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.gutter-wrapper {
  display: none;
  position: absolute;
  top: $topbar-height;
  bottom: 0;
}

#leftGutterWrapper {
  padding-right: $mainMaxWidth/2;
  left: 0;
  right: 50%;
}

#rightGutterWrapper {
  left: 50%;
  right: 0;
  padding-left: $mainMaxWidth/2;
}

.gutter {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0,255,0,.5);

  .branch {
    display: none;
    position: absolute;
    background: rgba(0,0,255,.5);
  }
}

@media #{$small-only} {
  #main{
    width: 100%;
  }

  .gutter-wrapper{
    display: none;
  }
}

@media #{$medium-up} {
  #main {
    width: $mainMaxWidth;
  }
  .gutter-wrapper{
    display: block;
  }
}

@media #{$large-up} {
  .gutter .branch {
    display: block;
  }
}

