@import "../settings";
@import "../utils";

.app-body, .app-header, .app-footer{
  @include clearfix;
  border: thin solid #bbb;
  padding: .5em;
}

.app{
  color: #333;
  @include box-shadow(0 2px 2px rgba(0,0,0,.5));
}

.app-header, .app-footer {
  @include linear-gradient(#F5F2EF, #EEEAE7);
}

.app-header {
  @include box-shadow(0 2px 3px rgba(0,0,0, .06));
}

.app-footer{
  $minFooterHeight: 5em;
  @include box-shadow(0 -2px 3px rgba(0,0,0,.06));
  height: $minFooterHeight;
  min-height: $minFooterHeight;
}

.app-body {
  background: white;
  border-top: none;
  border-bottom: none;
}

// Responsive styling.
.app {
  display: flex;
  flex-direction: column;
  .app-header, .app-footer, .app-body {
    align-self: stretch;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
  }

  .app-header {
    min-height: 1em;
    max-height: 2em;
  }

  .app-footer{
    height: 4em;
  }
}

@media #{$medium-up} {
  .app {
    @include round-top-corners(8px);
    @include round-bottom-corners(8px);
  }

  .app-header {
    @include round-top-corners(8px);
  }
  .app-footer{
    @include round-bottom-corners(8px);
  }
}
