@import "../settings";
@import "../utils";

html.no-flexbox.no-flexboxlegacy {

  .app {
    border: thin solid black;
    height: 100% !important;
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .app-header {
      height: 2em;
    }

    .app-body {
      position: absolute;
      height: auto !important;
      width: 100% !important;
      top: 2em;
      bottom: $footerHeight;
      left: 0;
      right: 0;
    }

    .app-footer{
      position: absolute;
      bottom: 0;
      height: $footerHeight;
    }
  }
}
