@import "../utils";
@import "../settings";

.exercise-deck-runner{

  .deck, .slide-region, .slide, .exercise-region, .exercise {
    height: 100%;
    width: 100%;
  }

  .progress-region{
    float: left;
  }

  .health-region {
    float: right;
  }

  .nav-region {
    button {
      $padding: rem-calc(5);
      $bg: $primary-color;
      $radius: true;
      $fullWidth: false;
      $disabled: false;
      $isInput: true;
      @include button($padding, $bg, $radius, $fullWidth, $disabled, $isInput);
      margin-left: 1em;
      margin-bottom: 0;

      &:first-child {
        margin-left: 0;
      }

    }
  }
}
