@import "../settings";
@import "../utils";
@import "../foundation-icons";
@import "sensei";

@import url('http://fonts.googleapis.com/css?family=Short+Stack');


.exercise-path {

  $brushStrokeWidth: rem-calc(2);

  $scrollWidth: rem-calc(25);
  $scrollSize: 100% $scrollWidth;
  $knobHeight: 6%;

  $shadowMargin: rem-calc(1);
  $shadowSize: rem-calc(2);
  $blurSize: rem-calc(5);
  $spreadSize: .5 * $shadowSize;
  $shadowColor: #bbb;

  position: relative;

  &:before,&:after {
    display: block;
    content: "";
    height: $scrollWidth;
    width: 100%;
    background: url('../img/path/scroll-horizontal.svg');
    background-repeat: no-repeat;
    background-size: $scrollSize;
  }

  > .content-container {
    position: relative;
    margin-left: $knobHeight;
    margin-right: $knobHeight;
    padding: 1em 10% $shadowSize 10%;
    // Might do this as texture too later.
    background: #fcfcfc;
    @include box-shadow(inset 0 0 $blurSize $spreadSize $shadowColor);

    > .content {

      margin-top: 1em;
      padding: 2em 10% 2em;
      background: white;
      border-style: solid;
      border-color: #ccc;
      border-width: medium medium 0 medium;

      > .header {
        text-align: center;
        margin-bottom: 1em;
        .icon {
          margin: auto;
        }

        .description {
          text-align: center;
          font-style: italic;
          color: gray;
        }

        &:after {
          content: "";
          display: block;
          margin: auto;
          height: $brushStrokeWidth;
          background-image: url('../img/path/brush-stroke-black.svg');
          background-size: 100% $brushStrokeWidth;
          background-repeat: no-repeat;
        }
      }
    }

  }

  .exercise-list {
    list-style: none;
    margin: 0 auto;
    width: 100%;
    border: 0;

    li {
      display: table;
      margin: auto;
      width: 96%;
      //border: thin solid #ccc;
      background: #f6f6f6;
      background: #f9f9f9;
      background: #fcfcfc;
      background: #fff;
      border-top: thin solid #999;
      border-bottom: thin solid #999;

      &:hover {
        background: #eee;
      }
      margin-bottom: 1em;

      &:hover {
        background: #eee;
      }
      margin-bottom: 1em;

      > .row-container {
        display: table-row;
        > * {
          text-align: center;
          display: table-cell;
          vertical-align: middle;
          padding: .5em 0;
        }
      }
    }

    .title {
      > span {
        font-family: 'Short Stack', cursive;
        &:after {
          content: "";
          display: block;
          margin: auto;
          height: $brushStrokeWidth;
          background-image: url('../img/path/brush-stroke-black.svg');
          background-size: 80% $brushStrokeWidth;
          background-repeat: no-repeat;
          background-position: center bottom;
        }
      }
    }

    .status {
      width: 2em;
    }

    .action {
      width: 8em;
      .button {
        @include round-corners();
        width: 80%;
        margin: 0;
      }
    }

    .completed {
      .status {
        @include fi-check;
        color: green;
      }

      .action .button {
        @include button($bg:white);
        border: thin solid #ccc;
        margin: 0;
      }
    }

    .current {
      .status {
        @extend .sensei-image;
        background-size: contain;
        background-position: center center;
      }
    }

    .locked {
      color: gray;

      .status {
        @include fi-lock;
      }

      .action .button {
        @include button($bg:white);
        color: gray;
        border: thin solid #ccc;
        margin: 0;
      }
    }
  }

}
