@import "../utils";
@import "../settings";
@import "../foundation-icons";

.feel-the-beat{

  .drum {
    $radius: rem-calc(150);
    $overlayRadius: $radius * .8;
    width: $radius*2;
    height: $radius*2;
    @include round-corners($radius);
    background-image: url('../img/feelTheBeat/drum.jpg');
    background-size: 100% 100%;
    position: relative;

    .overlay {
      $padding: ($radius - $overlayRadius);
      position: absolute;
      top: $padding;
      left: $padding;
      opacity: 0;
      width: $overlayRadius*2;
      height: $overlayRadius*2;
      @include round-corners($overlayRadius);
      background: $primary-color;
    }

    &.disabled {
      .overlay {
        opacity: .75;
        background: gray;
      }
    }

    &:hover {
      cursor: pointer;
      .overlay {
        opacity: .2;
      }
    }

    &.tapping{
      .overlay {
        opacity: .5;
      }
    }
  }

  .results {

    $pass_color: #68e86b;
    $fail_color: #df2421;

    $icon_padding: 2.5%;
    $icon_height: 10%;
    $icon_outer_height: 2*$icon_padding + $icon_height;
    $threshold_padding: 5%;
    $threshold_height: 100% - $icon_outer_height -  2*$threshold_padding;
    $mark_width: rem-calc(8);
    $mark_height: 33%;
    $mark_padding: 2%;
    $link_top: $icon_outer_height + $threshold_padding + $mark_padding + $mark_height;
    $link_height: $threshold_height - 2*$mark_height - 2*$mark_padding;

    .figure {
      position: relative;
      width: 100%;
      height: rem-calc(250);

      > div, svg{
        position: absolute;
      }
    }

    .threshold {
      top: $icon_outer_height + $threshold_padding;
      height: $threshold_height;
      border: thin dashed #ccc;
    }

    .tap, .beat {
      width: $mark_width;
      margin-left: -$mark_width/2;
      height: $mark_height;
      //border: thin solid #333;
    }

    .beat {
      top: $icon_outer_height + $threshold_padding + $mark_padding;
      background: #3d1c1c;
    }

    .tap {
      bottom: $mark_padding + $threshold_padding;
      &.pass {
        background: $pass_color;
      }
      &.fail {
        background: $fail_color;
      }
    }

    .link {
      top: $link_top;
      height: $link_height;
      line {
        stroke-width: 1;
        stroke: black;
        stroke-dasharray: 2,2; 
      }
    }

    .result {
      top: $icon_padding;
      line-height: rem-calc($icon_height/2);
      $radius: 1em;
      width: $radius*2;
      height: $radius*2;
      @include round-corners($radius);
      //border: thin solid #ccc;
      text-align: center;
      margin-left: -$radius;

      i {
        $size: 2em - .2em;
        display: inline-block;
        vertical-align: middle;
        line-height: $size;
        font-size: $size;
      }

      &.pass {
        i {
          @include fi-heart;
          color: $pass_color;
        }
      }

      &.fail {
        i {
          @include fi-heart;
          color: $fail_color;
        }
      }
    }
  }

}
