@import "../utils";
@import "../settings";
@import "../foundation-icons";

.feel-the-beat{

  .drum {
    $radius: rem-calc(150);
    $overlayRadius: $radius * .8;
    width: $radius*2;
    height: $radius*2;
    @include round-corners($radius);
    background-image: url('../img/feelTheBeat/drum.jpg');
    background-size: 100% 100%;
    position: relative;

    .overlay {
      $padding: ($radius - $overlayRadius);
      position: absolute;
      top: $padding;
      left: $padding;
      opacity: 0;
      width: $overlayRadius*2;
      height: $overlayRadius*2;
      @include round-corners($overlayRadius);
      background: $primary-color;
    }

    &.disabled {
      .overlay {
        opacity: .75;
        background: gray;
      }
    }

    &:hover {
      cursor: pointer;
      .overlay {
        opacity: .2;
      }
    }

    &.tapping{
      .overlay {
        opacity: .5;
      }
    }
  }

  .results {
    .figure {
      position: relative;
      width: 100%;
      height: rem-calc(250);

      > div, svg{
        position: absolute;
      }
    }

    .threshold {
      top: 8%;
      height: 72%;
      border: thin solid #ccc;
    }

    .tap, .beat {
      width: rem-calc(5);
      margin-left: rem-calc(-2.5);
      height: 25%;
    }

    .beat {
      top: 10%;
      background: black;
    }

    .tap {
      top: 45%;
      &.pass {
        background: green;
      }
      &.fail {
        background: red;
      }
    }

    .link {
      top: 35%;
      height: 10%;
      line {
        stroke-width: 1;
        stroke: black;
        stroke-dasharray: 2,2; 
      }
    }

    .result {
      top: 0;
      font-size: rem-calc(10);
      $radius: 1em;
      width: $radius*2;
      height: $radius*2;
      @include round-corners($radius);
      border: thin solid #ccc;
      text-align: center;
      margin-left: -$radius;

      i {
        display: inline-block;
        vertical-align: middle;
        line-height: 2em;
      }

      &.pass {
        i {
          @include fi-heart;
          color: green;
        }
      }

      &.fail {
        i {
          @include fi-heart;
          color: red;
        }
      }
    }
  }

}
