@import "../utils";
@import "../settings";
@import "../foundation-icons";

.health-bar {
  display: inline-block;

  ul{
    margin: 0;
    margin-top: -.25em;
    min-height: 1em;
  }

  li {
    list-style: none;
    float: left;
    position: relative;
    margin-left: .5em;

    i {
      @include fi-heart;
      color: #ccc;

      &.healthy{
        @include transition(all, .5s , ease-out);
        position: absolute;
        color: $primary-color;
        top: 0;
        left: 0;
      }
    }
  }

  li.empty {
    i.healthy {
      @include transition(all, .5s , ease-out);
      top: 50px;
      opacity: 0;
    }
  }

}
