.login-form {
  text-align: center;
  @include round-corners(1em);
  background: white;
  padding: 2.5em;
  max-width: 25em;
  margin-left: auto;
  margin-right: auto;

  .status-message {
    margin: .5em;
    display: block;
    padding: .75em;
    min-height: 1em;

    &.warning {
      @extend .alert-box.warning;
    }
  }
}
