.mk-kata-runner {
  $rowHeight: 85px;
  $labelHeight: 15px;
  $elementHeight: $rowHeight - $labelHeight;

  .mk-kata-runner-status-bar.row {
    height: 85px;

    .breaks {

      > ul {
        height: $elementHeight;
        display: inline-block;
        margin: 0;

        > li {
          list-style-type: none;
          display: inline-block;
          width: $elementHeight * .33;
          height: $elementHeight;
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;

          &.broken {
            background-image: url('../img/kataRunner/plank-broken.png');
          }
          &.unbroken.active {
            background-image: url('../img/kataRunner/plank-unbroken-active.png');
          }
          &.unbroken {
            background-image: url('../img/kataRunner/plank-unbroken-inactive.png');
          }
        }
      }
    }
  }
}
