/*
Spirit bar is designed like this:
- container div that sets height.
- power diameter is full height
- right side of progress bar power diameter - a little bit.
- left side of power bar is 0 (power bar width scales)
*/

.mk-spirit-bar {
  $fillColor: $primary-color;

  $circleWidth: 50px;
  $circleHeight: 50px;
  width: 200px;
  height: $circleHeight;
  position: relative;

  > .progress, > .power-circle {
    position: absolute;
    background-color: white;
    border-style: solid;
    border-color: #ccc;
    border-width: 3px;
  }

  > .power-circle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: $circleWidth;
    @include round-corners(50%);
    z-index: 10;
    overflow: hidden;

    > .fist {
      width: 100%;
      height: 100%;
      background-size: .6 * $circleWidth;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url('../img/kataRunner/closedFist.png');
    }

    &.active {
      /*
      background-color: $fillColor;
      background: radial-gradient(ellipse at center, 
        #fff 0%,
        #fff 30%,
        $fillColor 60%,
        $fillColor 100%
      );
      @include single-transition(all, 1000ms);
      */
    }

    > .overlay {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(ellipse at center, 
        #fff 0%,
        #fff 30%,
        $fillColor 60%,
        $fillColor 100%
      );
    }
  }

  > .progress {
    $padding: 10px;
    $fillBufferWidth: 10px;
    top: $padding;
    bottom: $padding;
    left: 0;
    right: $circleWidth - (.65 * $padding);
    border-right: 0;
    z-index: 100;
    @include round-left-corners(10px);
    overflow: hidden;

    > .fill-buffer, .fill-container {
      position: absolute;
      top: 0;
      bottom: 0;
    }

    > .fill-buffer {
      left: 0;
      width: $fillBufferWidth;
      background-color: $fillColor;
    }

    > .fill-container {
      left: $fillBufferWidth;
      right: 0px;
      > .fill {
        height: 100%;
        background-color: $fillColor;
      }
    }
  }

}
