/*
Spirit bar is designed like this:
- container div that sets height.
- power diameter is full height
- right side of progress bar power diameter - a little bit.
- left side of power bar is 0 (power bar width scales)
*/
.mk-spirit-bar {
  $circleDiameter: 50px;
  width: 200px;
  height: $circleDiameter;
  position: relative;

  > .progress, > .power-circle {
    position: absolute;
    background-color: white;
    border-style: solid;
    border-color: #ccc;
    border-width: 3px;
  }

  > .power-circle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: $circleDiameter;
    @include round-corners(50%);
    z-index: 10;
    background-size: .7 * $circleDiameter;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/kataRunner/closedFist.png');
  }

  > .progress {
    $padding: 10px;
    top: $padding;
    bottom: $padding;
    left: 0;
    right: $circleDiameter - (.65 * $padding);
    border-right: 0;
    z-index: 100;
    @include round-left-corners(10px);
    overflow: hidden;

    > .fill {
      height: 100%;
      background-color: $primary-color;
    }
  }

}
