.mk-kata-runner {
  $statusBarHeight: 65px;
  $spiritBarHeight: 50px;

  .mk-kata-runner-status-bar {
    display: table;
    height: $statusBarHeight;
    width: 100%;
    font-size: 22px;

    > div {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
    }

    .level-col {
      width: 19%;

      .level {
        text-transform: uppercase;
        color: gray;
      }
    }

    .spirit-col {

      padding: 0 35px;

      .mk-spirit-bar {
        width: 100%;
        height: $spiritBarHeight;
      }
    }

    .breaks-col {
      width: 25%;
      padding-right: 10px;

      .breaks {
        height: 100%;
        width: 100%;

        > ul {
          display: table;
          height: 100%;
          width: 100%;
          margin: 0;

          > li {
            list-style-type: none;
            display: table-cell;
            height: 100%;
            padding: 0 5px;

            &:after {
              content: " ";
              height: 100%;
              width: 100%;
              display: block;
              background-size: contain;
              background-position: center center;
              background-repeat: no-repeat;
            }

            &.broken {
              &:after { 
                background-image: url('../img/kataRunner/plank-broken.png');
              }
            }
            &.unbroken.active {
              &:after {
                background-image: url('../img/kataRunner/plank-unbroken-active.png');
              }
            }
            &.unbroken {
              &:after {
                background-image: url('../img/kataRunner/plank-unbroken-inactive.png');
              }
            }
          }
        }
      }
    }
  }
}
