@import "../utils";
@import "../settings";

.musikata-exercise-deck-runner{

  .app-body {
    position: relative;
    .deck {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      .slide-region, .slide {
        height: 100%;
        width: 100%;
      }
    }
  }

  .pass-view,.fail-view {
    text-align: center;

    h3 {
      @include round-corners(rem-calc(8));
    }

    .sensei-image {
      height: rem-calc(250);
      background-image: url('../img.test/cricket.gif');
      background-size: auto 80%;
      background-repeat: no-repeat;
      background-position: 45% 10%;
    }
  }

  .pass-view {
    h3 {
      background-color: $pass_color;
    }
  }

  .fail-view {
    h3 {
      background-color: $fail_color;
      color: white;
    }
  }
}
