@import "../utils";
@import "../settings";

.musikata-exercise-deck-runner{

  .app-body {
    position: relative;
    .deck, .fail-view, .pass-view {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      .slide-region, .slide {
        height: 100%;
        width: 100%;
      }
    }
  }

  .pass-view, .fail-view {

    padding-left: 1em;
    padding-right: 1em;

    text-align: center;
    display: flex;
    flex-direction: column;

    > * {
      flex: 0 0 auto;
    }

    > .sensei-image {
      height: auto;
      flex: 1 1 auto;
    }

    h3 {
      @include round-corners(rem-calc(8));
    }
  }

  .pass-view {
    h3 {
      background-color: $pass_color;
    }
  }

  .fail-view {
    h3 {
      background-color: $fail_color;
      color: white;
    }
  }
}
