@import "../settings";
@import "../utils";

.musikata-path {
  @include round-corners(rem-calc(15));
  background: white;
  padding: 2em;

  > .header {
    text-align: center;

    > .icon {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
    }

    > .description {
      text-align: center;
      color: gray;
    }
  }

  .scroll-node {
    list-style: none;
    padding: 1em;
    margin: 2em auto;

    &:hover{
      background: #f6f6f6;
      cursor: pointer;
    }

    .scroll {
      $scrollWidth: rem-calc(25);
      $scrollSize: $scrollWidth 100%;
      $knobHeight: 6%;

      $shadowMargin: rem-calc(1);
      $shadowSize: rem-calc(2);
      $blurSize: $shadowSize;
      $spreadSize: .5 * $shadowSize;
      $shadowColor: #bbb;

      position: relative;
      margin: $shadowMargin auto;
      height: rem-calc(150);
      width: rem-calc(240);
      background: url('../img/path/scroll.svg'), url('../img/path/scroll.svg');
      background-size: $scrollSize, $scrollSize;
      background-repeat: no-repeat, no-repeat;
      background-position: left center, right center;

      > .content {
        position: absolute;
        top: $knobHeight;
        left: $scrollWidth;
        bottom: $knobHeight;
        right: $scrollWidth;
        display: flex;
        flex-direction: column;

        @include box-shadow(0 $shadowSize $blurSize $spreadSize $shadowColor);

        &:before,&:after{
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          width: .5 * $shadowSize;
          opacity: .5;
        }

        &:before {
          left: -$scrollWidth;
          @include box-shadow($shadowSize 0 $blurSize $spreadSize $shadowColor);
        }

        &:after{
          right: -$scrollWidth;
          @include box-shadow($shadowSize 0 $blurSize $spreadSize $shadowColor);
        }

      }
      .body {
        flex: 1 1 auto;
        align-self: center;
      }

      .header, .footer {
        flex: 0 1 auto;
        align-self: center;
        width: 100%;
        background: brown;
      }

      .header {
        padding: .5em;
        > .title {
          margin-top: 0;
          $strokeWidth: rem-calc(2);
          color: white;
          font-weight: bold;
          vertical-align: middle;
          position: relative;
          padding-bottom: 2*$strokeWidth;
          text-align: center;

          &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: $strokeWidth;
            height: $strokeWidth;
            background-image: url('../img/path/brush-stroke.svg');
            background-size: 100% $strokeWidth;
            background-repeat: no-repeat;
          }
        }
      }

      .body {
        position: relative;
        height: 100%;
        width: 100%;
        background: white;

        .icon-container {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: flex;
          flex-direction: column;

          &:before,&:after {
            content: "";
            flex: 1 1 auto;
          }

          .icon {
            align-self: center;
            flex: 1 1 auto;
            display: inline-block;
            height: 65%;
            width: 65%;
            > i {
              display: block;
              width: 100%;
              height: 100%;
              background-size: contain;
              background-repeat: no-repeat;
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }

      .footer {
        height: 1em;
        @include box-shadow(0 $shadowSize $blurSize $spreadSize $shadowColor);
      }

    }
  }


  .stone-tree {
    width: 65%;
    margin-left: auto;
    margin-right: auto;

    li {
      text-align: center;
      padding: 1em;
      margin: 2em;
      background-image: url('../img/path/stone.svg');
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .stone {
    }
  }
}
