@import "../utils";

.progress-bar {
  @include round-left-corners();
  @include round-right-corners();
  @include box-shadow(inset 0 3px 6px rgba(0,0,0,.15), 0 1px 0 #fff);
  @include clearfix();
  display: inline-block;

  ul{
    margin: 0;
  }

  li {

    list-style: none;
    float: left;
    width: 16px;
    height: 12px;
    border: thin solid #ddd;

    &:first-child{
      @include round-left-corners();
    }
    &:last-child{
      @include round-right-corners();
    }

    &.completed {
      @include linear-gradient(rgba(244,61,74,1), rgba(191,47,57,1));
      border: thin solid rgba(244,61,74,1);
      border-right: thin solid #ddd;
    }
  }

}
