@import "../settings";
@import "../utils";

#topBar{
  @include box-shadow(0 2px 2px #ccc);

  h1 {
    padding: 5px;
    height: 100%;

    a {
      height: 100%;
    }
  }

  #logo{
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    vertical-align: inherit;
  }
}
